[submodule "apps/src/main/java/org/sikuli/slides/driver/examples/df7b503bae855f838e85"]
	path = apps/src/main/java/org/sikuli/slides/driver/examples/df7b503bae855f838e85
	url = https://gist.github.com/df7b503bae855f838e85.git
