

<li class="span4">
  <div class="thumbnail">
    <h3>{{name}}</h3>
	<iframe src="https://docs.google.com/presentation/d/{{docid}}/embed?start=true&loop=true&delayms=3000" frameborder="0" width="285" height="200" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">	
	</iframe>
    <p>	{{description}}</p>

	<a class="btn" href="https://docs.google.com/presentation/d/{{docid}}/edit?usp=sharing">
		<img src="/img/google-drive-logo.png"/> 
		Google Drive
	</a>
	<a class="btn" href="https://docs.google.com/feeds/download/presentations/Export?id={{docid}}&&exportFormat=pptx">			
		<img src="/img/ppt_logo.png"/>
		PowerPoint
	</a>
  </div>
</li>